<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OpenCartSuite" parallel="tests">
  <test thread-count="5" name="ChromeTests">
  <parameter name = "browser" value="chrome"/>
    <classes>
    </test>
    
     <test thread-count="5" name="EdgeTests">
  <parameter name = "browser" value="edge"/>
      <class name="TestCases.TC_001_automation_test_case"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
